@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 640px) {
    table {
      min-width: 100%;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  